:root {
  --primary-color: #2b2b2b;
  --secondary-color: #c5d6d8;
  --tertiary-color: #445a97;
  --button-color: #83a5c2;
  --highlight-color: #5991ca;
  --heading-font: "Pinyon Script", cursive;
  --secondary-font: "Be Vietnam Pro", sans-serif;
}

body {
  background: var(--primary-color);
}

h1 {
  color: var(--tertiary-color);
  text-align: center;
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  line-height: 1.5;
}

.project-headings,
.work-headings {
  font-size: 70px;
  color: var(--tertiary-color);
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
}

.work-headings {
  font-size: 50px;
}

h2,
.hi-text {
  text-align: center;
  font-size: 18px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
}

h2 {
  margin-top: -20px;
}

h3 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

.email-heading,
.socials-headings {
  margin: 0;
  padding: 0;
  font-size: 12px;
  transition: all 250ms ease-in-out;
}

.email-heading {
  text-decoration: underline;
}

.email-heading:hover {
  color: var(--highlight-color);
}

.email-icon {
  width: 50px;
  margin: auto;
  display: block;
  text-align: center;
}

.socials-container {
  padding: 20px;
  margin: 50px;
}

.socials-icons {
  width: 30px;
}

.socials-col {
  transition: all 300ms ease-in-out;
}

.socials-col:hover {
  transform: scale(1.2);
  opacity: 60%;
}

.projects-display {
  padding: 80px;
}

.hi-text {
  margin-bottom: -40px;
  font-size: 14px;
}

.about-text {
  padding: 50px 300px;
  margin-top: 30px;
}

.header {
  text-align: center;
  padding: 80px 0px;
  margin-top: -20px;
}

.btn-branding {
  color: var(--highlight-color);
  border: solid 1px var(--button-color);
  border-radius: 50px;
  padding: 2px 10px;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.btn-branding:hover {
  color: var(--button-color);
  transition: all 300ms ease-in-out;
}

.image-container {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  padding: 10px;
}

.image-container img {
  height: 200px;
  width: 190px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: all 250ms ease-in-out;
}

.image-container img:hover {
  transform: scale(1.05);
}

.logo {
  max-height: 45px;
  margin-left: 3rem;
}

.nav-bar {
  background: var(--secondary-color);
  box-shadow: var(--tertiary-color) 0px 2px 5px -1px,
    var(--tertiary-color) 0px 1px 3px -1px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

nav li {
  display: inline;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  margin-left: 10px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

nav a:hover,
nav li.active a {
  color: var(--button-color);
  border: solid var(--button-color) 1px;
  padding: 5px 7px;
  border-radius: 40px;
}

nav ul {
  padding: 0;
  margin-top: 0.5rem;
}

p,
.more-link a {
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 1.5;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.more-link a {
  transition: all 300ms ease-in-out;
  color: var(--highlight-color);
}

.more-link a:hover {
  color: var(--tertiary-color);
}

.p-announcement {
  color: var(--secondary-color);
  font-size: 14px;
  margin-top: -40px;
}

.btn-branding-outline {
  color: var(--button-color);
  border: solid 1px var(--tertiary-color);
  border-radius: 30px;
  padding: 2px 10px;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.btn-branding-outline:hover {
  color: var(--highlight-color);
  transition: all 300ms ease-in-out;
}

.work-launch-button {
  text-align: center;
}

.images {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 500px;
  transition: all 150ms ease-in-out;
}

.images:hover {
  transform: scale(1.02);
  filter: brightness(80%);
}

.content {
  margin: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 15px;
  }

  .project-headings,
  .work-headings {
    font-size: 40px;
  }

  .header {
    margin-top: -40px;
    padding: 80px 20px;
  }

  .project-description {
    margin-top: -50px;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 13px;
  }
  .p-announcement {
    font-size: 11px;
  }
  .btn-branding,
  .btn-branding-outline,
  .more-link a {
    font-size: 10px;
  }

  .more-link a {
    margin: 0px;
  }

  .about-images {
    width: 140px;
    height: auto;
  }

  .about-text {
    font-size: 13px;
    padding: 50px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .logo {
    height: 30px;
    margin: 0;
  }

  nav li {
    font-size: 10px;
    margin-left: 5px;
  }

  nav ul {
    margin: 0;
  }
}
